.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  font-family: "Poppins", sans-serif; }
  .modal-bg .modal {
    position: relative;
    background-color: white;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem; }
    .modal-bg .modal .modal-close {
      position: absolute;
      z-index: 999;
      top: 10px;
      right: 10px;
      font-weight: bold;
      cursor: pointer;
      color: white; }

.bg-active {
  visibility: visible;
  opacity: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

#index__main {
  width: 100%;
  height: 100vh;
  background: rgb(252, 0, 109);
  background: linear-gradient(
    180deg,
    rgb(255, 0, 0) 0%,
    rgb(248, 246, 246) 100%);
  font-family: "Maven Pro", sans-serif;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #index__main .index__section001 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #index__main .index__section001 h1 {
      width: 30%;
      border: 1px solid black;
      margin-bottom: 1.6rem;
      padding: 0.4rem 1rem; }
    #index__main .index__section001 p {
      width: 60%;
      margin: 0 auto;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      margin-bottom: 1.4rem; }
    #index__main .index__section001 a {
      color: black; }
    #index__main .index__section001 .index__button {
      font-size: 1.4rem;
      padding: 0.4rem 0.8rem;
      border: 1px solid black;
      color: black;
      background-color: transparent; }
    #index__main .index__section001 .index__button:hover {
      background-color: black;
      color: #e39588; }

#singup {
  width: 100%;
  height: 100vh;
  background: rgb(252, 0, 109);
  background: linear-gradient(
    180deg,
    rgb(255, 0, 0) 0%,
    rgb(248, 246, 246) 100%);
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem; }
  #singup h1 {
    font-family: "Maven Pro", sans-serif;
    margin: 2rem; }
  #singup form {
    width: 22%;
    margin: 0 auto; }
    #singup form .singup__div {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    #singup form .singup__li {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem; }
      #singup form .singup__li label {
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif; }
      #singup form .singup__li ::placeholder {
        color: black; }
      #singup form .singup__li input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid black;
        color: #decbc8;
        padding: 0.2rem;
        font-family: "Poppins", sans-serif; }
    #singup form .singup__button {
      font-size: 1.4rem;
      padding: 0.4rem 0.8rem;
      border: 1px solid black;
      color: black;
      background-color: transparent; }
    #singup form .singup__button:hover {
      background-color: black;
      color: TRA }

#home_header {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #home_header .logo {
    margin: 0 4rem;
    font-size: 2rem;
    font-weight: 700;
    color: black; }
  #home_header .home_nav001 {
    margin: 0 4rem;
    width: 40%;
    color: black; 
  }
    #home_header .home_nav001 ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #home_header .home_nav001 ul a {
        color: black;
        font-weight: 500;
        font-size: 1.2rem; }
  #home_header i {
    display: none; }

.home_nav002 {
  display: none; }

.active {
 
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Maven Pro", sans-serif; }
  .active a {
    color: black; }

#aboutMain,
#contactMain,
#logout {
  text-align: center; }

@media screen and (max-width: 768px) {
  #home_header {
    width: 100%;
    margin: 1rem 0;
    position: relative; }
    #home_header .home_nav001 {
      display: none; }
    #home_header i {
      display: block;
      font-size: 2rem;
      padding-right: 3rem; }
  .home_nav002 {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative; }
    .home_nav002 ul {
      position: relative; }
  #homeMain {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  #homeMain {
    width: 100%;
    height: auto;
    font-family: "Maven Pro", sans-serif; }
    #homeMain .home_title {
      color: black;
      width: 70%;
      margin: 0 auto;
      font-size: 1.6rem;
      font-weight: 700; }
    #homeMain .home_section_one {
      width: 70%;
      margin: 0 auto;
      margin-top: 0.6rem;
      border: 1px solid black;
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      #homeMain .home_section_one textarea {
        width: 100%;
        resize: none; }
      #homeMain .home_section_one .home_escribir_tweet {
        max-width: 100%;
        height: auto;
        padding: 0.6rem;
        flex-wrap: no-wrap; }
      #homeMain .home_section_one .send {
        width: 18%;
        margin-top: 0.5rem;
        text-align: center;
        padding: 0.1rem 0.4rem; }
    #homeMain .home_section_two {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-top: 1rem; }
    #homeMain .user {
      font-weight: 700; }
    #homeMain .mrBoton {
      margin-bottom: 1rem; }
    #homeMain .tweet {
      border: 1px solid black;
      background-color: rgb(172, 12, 38);
      text-align: start;
      padding: .2rem .6rem;
      margin-bottom: 1rem; }
  .tuitHome {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: left; }
  .tuitContainer {
    display: flex;
    flex-direction: column;
    align-self: start; }
  .btn {
    background-color: rgb(255, 0, 43);
    font-weight: 700;
    width: 20%;
    margin: 0.2rem; }
  .user {
    padding: 0 0.2rem; }
  .tweet {
    width: 100%;
    background-color: rgb(255, 0, 43);
    padding: 0.2rem 0.6rem; } }

@media screen and (max-width: 992px) {
  #home_header {
    width: 100%;
    margin: 1rem 0;
    position: relative; }
    #home_header .home_nav001 {
      display: none; }
    #home_header i {
      display: block;
      font-size: 2rem;
      padding-right: 3rem; }
  .home_nav002 {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative; }
    .home_nav002 ul {
      position: relative; }
  #homeMain {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  #homeMain {
    width: 100%;
    height: auto;
    font-family: "Maven Pro", sans-serif; }
    #homeMain .home_title {
      color: black;
      width: 70%;
      margin: 0 auto;
      font-size: 1.6rem;
      font-weight: 700; }
    #homeMain .home_section_one {
      width: 70%;
      margin: 0 auto;
      margin-top: 0.6rem;
      border: 1px solid black;
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      #homeMain .home_section_one textarea {
        width: 100%;
        resize: none; }
      #homeMain .home_section_one .home_escribir_tweet {
        max-width: 100%;
        height: auto;
        padding: 0.6rem;
        flex-wrap: no-wrap; }
      #homeMain .home_section_one .send {
        width: 18%;
        margin-top: 0.5rem;
        text-align: center;
        padding: 0.1rem 0.4rem; }
    #homeMain .home_section_two {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-top: 1rem; }
    #homeMain .user {
      font-weight: 700; }
    #homeMain .mrBoton {
      margin-bottom: 1rem; }
    #homeMain .tweet {
      border: 1px solid black;
      background-color: pink;
      text-align: start;
      padding: .2rem .6rem;
      margin-bottom: 1rem; }
  .tuitHome {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: left; }
  .tuitContainer {
    display: flex;
    flex-direction: column;
    align-self: start; }
  .btn {
    background-color: pink;
    font-weight: 700;
    width: 20%;
    margin: 0.2rem; }
  .user {
    padding: 0 0.2rem; }
  .tweet {
    width: 100%;
    background-color: pink;
    padding: 0.2rem 0.6rem; } }

@media screen and (min-width: 992px) {
  #home_header {
    width: 100%;
    margin: 1rem 0;
    position: relative; }
    #home_header .fas {
      display: none; }
    #home_header .home_nav001 {
      display: block; }
    #home_header i {
      display: block;
      font-size: 2rem;
      padding-right: 3rem; }
  .home_nav002 {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative; }
    .home_nav002 ul {
      position: relative; }
  #homeMain {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  #homeMain {
    width: 100%;
    height: auto;
    font-family: "Maven Pro", sans-serif; }
    #homeMain .home_title {
      color: black;
      width: 70%;
      margin: 0 auto;
      font-size: 1.6rem;
      font-weight: 700; }
    #homeMain .home_section_one {
      width: 70%;
      margin: 0 auto;
      margin-top: 0.6rem;
      border: 1px solid black;
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      #homeMain .home_section_one textarea {
        width: 100%;
        resize: none; }
      #homeMain .home_section_one .home_escribir_tweet {
        max-width: 100%;
        height: auto;
        padding: 0.6rem;
        flex-wrap: no-wrap; }
      #homeMain .home_section_one .send {
        width: 18%;
        margin-top: 0.5rem;
        text-align: center;
        padding: 0.1rem 0.4rem; }
    #homeMain .home_section_two {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-top: 1rem; }
    #homeMain .user {
      font-weight: 700; }
    #homeMain .mrBoton {
      margin-bottom: 1rem; }
    #homeMain .tweet {
      border: 1px solid black;
      background: rgb(252, 0, 109);
      background: linear-gradient(
        180deg,
        rgb(255, 0, 0) 0%,
        rgb(248, 246, 246) 100%);
      text-align: start;
      padding: .2rem .6rem;
      margin-bottom: 1rem; }
  .tuitHome {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: left; }
  .tuitContainer {
    display: flex;
    flex-direction: column;
    align-self: start; }
  .btn {
    background-color: pink;
    font-weight: 700;
    width: 20%;
    margin: 0.2rem; }
  .user {
    padding: 0 0.2rem; }
  .tweet {
    width: 100%;
    background-color: pink;
    padding: 0.2rem 0.6rem; } }
